body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "PT Sans", sans-serif;
  color: #565554;
}

.clear-fix {
  overflow: auto;
}

.navbar-default {
  margin:0;
  background-color: #fff;
}

.navbar {
  border: none;
}

.navbar-toggle {
  float: left;
  margin-left: 28px;
}

.container-fluid, .top {
  background-color: #fff;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 35px;
  color: #312409;
  line-height: 48px;
  display: block;
}

h2 {
  font-weight: normal;
  font-size: 22px;
  color: #777;
  line-height: 29px;
  padding: 10px;
  border-top: 1px solid #e7e7e7;
  margin-top: 8px;
  text-transform: uppercase;
}

h3 {
  font-style: normal;
  font-size: 18px;
  color: #888;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 20px 5% 5px 5%;
}

.role-text {
  padding: 10px 0 0 0;
  font-size: 18px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #666;
  line-height: 16px;
  float: left;
}

.url-text {
  color:#999;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

hr {
  display: none;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  display:none;
}

#skills-h3 {
  display: none;
}

ul#topContacts {
  display: none;
}

ul#skills {
  display: none;
}

.orange-text {
  color: #666;
}

.white-text {
  font-weight: bold;
  color: #999;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

#header {
  background-color: #fff;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect h2 {
  display: none;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

#footerContacts {
  background-color:#fff;
  border-top:1px solid #e7e7e7;
  margin-top: 18px;
}